html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Ubuntu', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Weather Styles */
body {
  height: 100%;
}

body.weather-bg {
  background-color: #d8c9d6;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI5LjYlIiB5MT0iLTguNCUiIHgyPSI5MC40JSIgeTI9IjEwOC40JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2RhZTJmOCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMTkxIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2Q2YTRhNCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 9.6% -8.4%, 90.4% 108.4%, color-stop(0.191, #dae2f8), color-stop(1, #d6a4a4));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(295deg, #dae2f8 19.1%, #d6a4a4 100%);
  /* IE10+ */
  background-image: -moz-linear-gradient(295deg, #dae2f8 19.1%, #d6a4a4 100%);
  background-image: -o-linear-gradient(295deg, #dae2f8 19.1%, #d6a4a4 100%);
  background-image: linear-gradient(155deg, #dae2f8 19.1%, #d6a4a4 100%);
  background-image: -ms-linear-gradient(295deg, #dae2f8 19.1%, #d6a4a4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae2f8', endColorstr='#d6a4a4', GradientType=1 );
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  margin: 10% auto auto;
}

header h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  color: #fff;
}

section.container {
  margin: 1.5rem 0;
}

section.container .board {
  margin: auto;
  padding: 20px;
  width: 610px;
  height: 260px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.17);
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}

section.container .board .row {
  display: table;
  height: 100%;
}

section.container .board .row .weather-state, section.container .board .row .degree {
  display: table-cell;
}

section.container .board .row .weather-state {
  width: 50%;
}

section.container .board .row .weather-state .sun {
  height: 75px;
  width: 75px;
  margin: auto;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  background-color: #f9e100;
  -webkit-box-shadow: 0 0 50px 0px #ffea00;
     -moz-box-shadow: 0 0 50px 0px #ffea00;
          box-shadow: 0 0 50px 0px #ffea00;
  -webkit-transform: translate3d(-7px, 40px, 0);
     -moz-transform: translate3d(-7px, 40px, 0);
          transform: translate3d(-7px, 40px, 0);
}

section.container .board .row .weather-state .sun::before {
  content: '';
  height: 75px;
  width: 75px;
  position: absolute;
  background-color: #fff500;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSItOC4yJSIgeTE9IjE3LjglIiB4Mj0iMTA4LjIlIiB5Mj0iODIuMiUiPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZWEwMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, -8.2% 17.8%, 108.2% 82.2%, color-stop(0, yellow), color-stop(1, #ffea00));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(334deg, yellow 0%, #ffea00 100%);
  /* IE10+ */
  background-image: -moz-linear-gradient(334deg, yellow 0%, #ffea00 100%);
  background-image: -o-linear-gradient(334deg, yellow 0%, #ffea00 100%);
  background-image: linear-gradient(116deg, yellow 0%, #ffea00 100%);
  background-image: -ms-linear-gradient(334deg, yellow 0%, #ffea00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff00",endColorstr="#ffffea00",GradientType=1);
  -webkit-box-shadow: 0 0 7px 0px rgba(104, 95, 0, 0.28);
     -moz-box-shadow: 0 0 7px 0px rgba(104, 95, 0, 0.28);
          box-shadow: 0 0 7px 0px rgba(104, 95, 0, 0.28);
}

section.container .board .row .weather-state .cloud {
  position: absolute;
  height: 35px;
  width: 70px;
  background: white;
  -webkit-border-radius: 2rem;
     -moz-border-radius: 2rem;
          border-radius: 2rem;
  -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.17);
     -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.17);
  -webkit-transform: translate3d(51px, 25px, 0);
     -moz-transform: translate3d(51px, 25px, 0);
          transform: translate3d(51px, 25px, 0);
  z-index: 9;
}

section.container .board .row .weather-state .cloud::before {
  content: '';
  position: absolute;
  height: 36px;
  width: 36px;
  background: white;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  margin-top: -15px;
  margin-left: 17px;
  -webkit-box-shadow: 0px -4px 9px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0px -4px 9px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -4px 9px rgba(0, 0, 0, 0.05);
}

section.container .board .row .weather-state .cloud-mini {
  position: absolute;
  height: 27px;
  width: 50px;
  background: white;
  -webkit-border-radius: 2rem;
     -moz-border-radius: 2rem;
          border-radius: 2rem;
  -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.17);
     -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.17);
  -webkit-transform: translate3d(105px, 17px, 0);
     -moz-transform: translate3d(105px, 17px, 0);
          transform: translate3d(105px, 17px, 0);
  z-index: 1;
}

section.container .board .row .weather-state .cloud-mini::before {
  content: '';
  height: 25px;
  width: 25px;
  background: white;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  margin-top: -12px;
  margin-left: 12px;
  -webkit-box-shadow: 0px -4px 9px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0px -4px 9px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -4px 9px rgba(0, 0, 0, 0.05);
}

section.container .board .row .weather-state .caption {
  margin: auto;
}

section.container .board .row .weather-state .caption h5.state {
  text-align: center;
  margin-top: 4.5rem;
  font-size: 19px;
  font-weight: 100;
}

section.container .board .row .degree {
  width: auto;
  vertical-align: middle;
  padding-bottom: 25px;
  line-height: 1;
}

section.container .board .row .degree h2 {
  font-size: 100px;
  font-weight: 100;
  padding: 0 10px;
}

section.container .board .row .location {
  display: table-cell;
  vertical-align: middle;
  width: 45%;
}

section.container .board .row .location h5.title {
  font-size: 16px;
  font-weight: 100;
  opacity: 0.8;
}

section.container .board .row .location h2 {
  font-size: 44px;
  font-weight: 100;
}

section.container .board .row-switch {
  width: 100%;
  margin-top: -27px;
}

section.container .board .row-switch .switch {
  display: block;
  font-size: 20px;
  height: 32px;
  width: 58px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1rem;
     -moz-border-radius: 1rem;
          border-radius: 1rem;
  float: right;
}

section.container .board .row-switch .switch input {
  opacity: 0;
}

section.container .board .row-switch .switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

section.container .board .row-switch .switch div {
  height: 24px;
  width: 24px;
  margin-top: -16px;
  margin-left: 5px;
  -webkit-border-radius: 1rem;
     -moz-border-radius: 1rem;
          border-radius: 1rem;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

footer.copyright {
  color: #fff;
  text-align: center;
  font-weight: 100;
  font-size: 17px;
}

footer.copyright .fa-heart {
  color: #ec644b;
  font-size: 1.1rem;
  vertical-align: middle;
}
